extends ../layout

block content
  h1 Sign Up
  form(action="/users/signup", method="post" )
        .form-group 
            label(for="Username") Username
            input#Username(type="text", class="form-control", name='Username')
        .form-group 
            label(for="password") Password
            input#password(type="password", class="form-control", name='password')
        
        input(type="submit", class="btn btn-info" value="SignUp")